.main-text{
   color: #383A4C;
   text-align: center;
   font-family: 'Roboto';
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 140.625%; /* 25.313px */
   margin-bottom: 50px;
   white-space: pre-wrap;
}

@media (max-width: 1024px){
   .main-text{
      font-size: 16px;
   }
}

@media (max-width: 675px){
   .main-text{
      white-space: normal;
   }
}


@media (max-width: 320px), (max-width: 715px){
   .main-text{
      font-size: 12px;
      margin-bottom: 40px;
   }
}