.section-callback{
   background: radial-gradient(50% 50% at 50% 50%,rgba(47, 50, 75, 0.85) 0%, rgba(47, 50, 75, 0.85) 100%), url(../../img/background-img2.jpg);
   background-repeat: no-repeat;
   text-align: center;
   padding: 70px 0 70px;
}

@media (max-width: 1024px){
   .section-callback{
      background: radial-gradient(50% 50% at 50% 50%,rgba(47, 50, 75, 0.85) 0%, rgba(47, 50, 75, 0.85) 100%), url(../../img/background-img2-1024.jpg);
      padding: 70px 0 56px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   }

}

@media (max-width: 620px){
   .section-callback{
      background: radial-gradient(50% 50% at 50% 50%,rgba(47, 50, 75, 0.85) 0%, rgba(47, 50, 75, 0.85) 100%), url(../../img/background-img2-320.jpg);
      padding: 30px 0 30px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   }

}