.section-more__list{
   display: flex;
   justify-content: center;
   gap: 50px;
   
}

@media (max-width: 815px) {
   .section-more__list{
      gap: 30px;
   }
}

@media (max-width: 760px) {
   .section-more__list{
   column-gap: 70px;
   flex-wrap: wrap;
   }
}

@media (max-width: 525px) {
   .section-more__list{
   column-gap: 10px;
   flex-wrap: wrap;
   }
}


