.section-callback__text{
   color: rgba(255, 255, 255, 0.80);
   text-align: center;
   font-family: 'Roboto';
   font-size: 22px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin-bottom: 50px;
}

@media (max-width: 1024px){
   .section-callback__text{
      font-size: 20px;
   }
}


@media (max-width: 320px){
   .section-callback__text{
      font-size: 12px;
      margin-bottom: 35px;
   }
}